.*
*.lock
*.log
*.pid
*.retry
*.tar
*.out
*.tgz
*.zip
*.key
*.pem
*.prof
*.pprof
*.profile
/bin/
/dist/
/vendor/
/tmp/

## GitHub
!.github/

## Editorconfig
!.editorconfig

## Git
!.gitkeep
!.gitignore
!.gitattributes

## Mise
!.mise.toml

## Lefthook
!.lefthook.yaml

## Golang
go.work
go.work.sum
!.golangci.yaml
!.goreleaser.yaml

## Node
**/node_modules/

## TypeScript
*.tsbuildinfo

## Vitepress
!docs/.vitepress
docs/.vitepress/*
!docs/.vitepress/theme/
!docs/.vitepress/config.mts
