# https://docs.github.com/en/github/administering-a-repository/customizing-how-changed-files-appear-on-github
* text=auto eol=lf

*.{gif,jpeg,jpg,png,webp} binary
*.{sum,lock} linguist-generated
*_gen.go linguist-generated
*.snapshot linguist-generated
