:root {
	--vp-c-brand-1: rgb(92	154	206);
	--vp-c-brand-2: rgb(27, 85, 140);
	--vp-c-brand-3: rgb(27, 85, 140);
	--vp-code-font-size: 12px;
	--vp-home-hero-name-color: rgb(27, 85, 140);
	--vp-home-hero-name-background: -webkit-linear-gradient(
		90deg,
		rgb(27, 85, 140),
		#f0db4f
	);
}
